* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #42433e;
}

h1 {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  font-weight: 900;
  -webkit-text-stroke:0.5px #fff;
  text-decoration:underline;
  white-space: nowrap;
}

.Nav {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}
.Nav h3 {
  font-size: 30px;
  color: antiquewhite;
  font-style: italic;
  font-weight: 900;
}

.Nav .ele {
  display: flex;
  gap: 10px;
 
}

.ele a {
  font-size: 20px;
  text-decoration: none;
  color: antiquewhite;
}